@charset "UTF-8";
/* CSS Document */

#aboutContainer {
	
	width:100%;
	padding:20px;
}

.title123{
		font-family: arial;
		font-size: 50px;
	border-bottom:1px solid gray;
}

.trCSS{
   	padding:20px;
	font-family: arial;
	font-size: 25px;
	
}

.tdCSS{
  	padding:20px;
	font-family: arial;
	font-size: 25px;

}

.pCSS{
	padding:20px;
	font-family: arial;
	font-size: 20px;
	border-left:1px solid gray;
	
}

#titlept2{
	
	font-family: arial;
	font-size: 25px;
}

.images {
	border-radius: 100px;
	width:150px;
	
	
}
