body{
  color:white;
  background-image: url("sharkTank_bg.jpeg");
  background-color: white;
  height: 920px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family:sans-serif;
  margin:20;
  padding:0;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: ;
    position:fixed;
    top:0;
    width:100%;
    text-decoration:underline;
  }
li {
  float:left;
  height:70px;
  width:auto;

}
.navRight{
  float:right;

}
li a {
 display: block;
 color: white;
 text-align: center;
 padding: 20px 40px;
 text-decoration: none;
 }
li a:hover {
  background-color:white;
  color:black;
}
.active{
  background-color:white;
  color:black;
}

.divContainers{
  color:white;
  height:900px;
  width:900px;
  border-radius:10px;
  margin:60px;
  padding:10px;
  padding-left:20px;
}

.inFo{
  color:white;
  height:500px;
  width:500px;
  border-radius:10px;
  margin:50px;
  padding:50px;
  padding-left:20px;
  background-color: rgba(0,0,0,0.6);
}

.text{
  font-size: 16px;
}
